// Colors context
@bgDefautl 			: rgb(247, 250, 255);
@colorText			:  #3b434c;
@colorLine 			: rgb(225, 223, 221);

// Colors General
@colorWhite 		: #FFFFFF;
@colorBlank 		: #050f2c;

@colorBlue 			: #3369e7;
@colorDarkblue 		: #003666;
@colorSkyblue		: #00aeff;
@colorDodgerBlue 	: #1E90FF;

@colorPurple 		: #8e43e7;
@colorMediPurple 	: #ad9ae8;
@colorViolet		: #b84592;
@colorRed			: #ff6c5f;
@colorOrange		: #ffc168;
@colorYellow		: #ffd900;


@colorGreen 		: #2FB67D;
@colorLightGreen 	: #2dde98;
@colorSeaGreen 		: #1cc7d0;


// Colors Btns
@colorBtnDefault : @colorWhite;
@colorBtnDefaultHover : #EDEDED;

@colorBtnPrimary: @colorBlue;
@colorBtnPrimaryHover: #4674de;

@colorBtnInfo: @colorSkyblue;
@colorBtnInfoHover: @colorDodgerBlue;

@colorBtnSuccess: @colorLightGreen;
@colorBtnSuccessHover: @colorGreen;

@colorBtnWarning: @colorOrange;
@colorBtnWarningHover: @colorRed;

@colorBtnDanger: @colorRed;
@colorBtnDangerHover: @colorViolet;

// Colors Form
@colorPlaceholder : #EDEDED;


// Colors Alert
@alertSuccess: #15c14a;
@alertWarning: #f89406;
@alertDanger: #ee5f5b;
@alertInfo: #5bc0de;

// Form
@bgInput : #FFFFFF;

// @borderInput : #aeb2b9;
@borderInput :  rgba(0,0,0,.14);
@colorTextForm : #202429;
@colorIconAdd : rgb(95, 101, 117);
@colorInput :#383551;
@colorPlaceholder: rgb(95, 101, 117);


