.fontThin(){
    font-family:'nhda-thin',sans-serif;
    font-weight:100;
}
.fontLigth(){
    font-family:'nhda-ligth',sans-serif;
    font-weight:300;
}
.fontRegular(){
    font-family: 'nhda-roman',sans-serif;
    font-weight:500;
}
.fontMedium(){
     font-family: 'nhda-medium',sans-serif;
    font-weight:600;
}
.fontBold(){
    font-family: 'nhda-bold',sans-serif;
    font-weight:bold;
}

@font-face {
    font-family: 'nhda-thin',sans-serif;
    src: url('../font/nhd-thin.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nhda-ligth',sans-serif;
    src: url('../font/nhd-medium.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nhda-medium',sans-serif;
    src: url('../font/nhda-medium.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nhda-roman',sans-serif;
    src: url('../font/nhda-roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nhda-bold',sans-serif;
    src: url('../font/nhda-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
