@import (reference) "color.less";
@import (reference) "font.less";

//btns Socials
.btnSocial {
    background-color: @colorBtnDefault;
    color: @colorWhite;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: initial;
    padding: 12px;
    border-radius: 4px;
    position: relative;

    .icon {
        font-size: 18px;
        padding-right: 10px;
    }

    &:hover {
        opacity: .8;
        color: @colorWhite;
    }
}

.btnFb {
    background-color: #3269e8;
    margin-bottom: 10px;
}

.btnGoogle {
    background-color: #ec4f4a;
}
