@import (reference) "color.less";
@import (reference) "font.less";
@import (reference) "index.less";

body {
    background-color: @colorWhite;
    .fontRegular();
}
.pubLogin {
    justify-content: flex-start;

    .sidebarLogin {
        width: 80%;
        height: 100vh;
        // background: url(../img/login-img.svg);
        height: 100vh;
        position: fixed;
        background-color: #4465f2 !important;
        right: 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: 70% !important;
    }

    .tbodyLogin {
        width: 550px;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

        .pubInner {
            width: 360px !important;

            label {
                .fontMedium();
            }

            .form {
                background-color: @colorWhite;
                box-shadow: none;
                padding: 0px;

                .formTitle {
                    margin: 10px 0 15px;
                    display: block;
                }

                .formControl {
                    .title {
                        margin: 5px 0 10px;
                    }
                }

                .formActions {
                    padding: 0 0 25px;

                    .btnLink {
                        font-size: 14px;
                    }
                    #btnIntro {
                        font-size: 18px;
                    }
                }

                .others {
                    margin-bottom: 10px;

                    .formGroup {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                    }

                    .btnSocial {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.footer {
    width: 40%;
    font-size: 12px;
}
